.tab-bar-footer {
    flex: 0 0 10vh;
    padding: 0;
    width: 100%;
    list-style: none;
    display: flex;
    border-top: 1px solid black;

}
.tab-bar-footer li{
    display: flex;
  flex: 1 0 20%;
    flex-direction: column;
  align-items: center;
    padding: 10px;
color:rgb(148,148,148);
}
.tab-bar-footer .selected{
    color: #1da7ff;
}