.chat{
    display: flex; flex-flow: column;
    max-height: 80vh;
    overflow: auto;
}


.chat .chat-list{
   flex :1;
}
.chat-footer{
    min-height: 6vh;
  display: flex;
    justify-content: space-around;
 }
.chat-footer-input{
    height: 100%;
    flex: 0 0 80%;
}
.chat-footer .am-input-extra{

}
.chat-footer-emoji{
    background: #1da7ff;
    flex: 0 0 20%;
}
.chat-footer-emoji span{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1da7ff;
}