* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.validate {
    color: red;
}
.header{
    flex:0 0 10vh;
}
.main{
    flex: 1;
    max-height: 80vh;
    overflow: auto;
}
.user-avatar {
    min-height: 100px;
    position: relative;
    display: flex;
    justify-content: space-between;

}

.user-avatar-user {
    flex: 0 1 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.user-avatar-user span {
    font-size: 1.2rem;
}

.user-avatar-avatar {
    flex: 0 1 20%;
    border: 1px solid silver;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.user-avatar-avatar img {
    width: 100%;

}

.am-tab-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
}

